
<p>
  <strong>sisältö:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>käyttäjä:</strong>
  <%= @comment.user.username %>
</p>

<%= link_to 'muokkaa', edit_comment_path(@comment) %> |
<%= link_to 'takaisin', :back %>
