/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.button-comment {
  border: 1px solid black;
  background: rgba(0, 10, 10, 0.90);
  padding: 1px 6px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  vertical-align: text-top;
  margin: -25px -5px;
  font-weight: bold;
}

textarea#comment {
  max-width: 650px;
  width: 100%;
  rows: 4;
  margin-left: auto;
  margin-right: auto;
}

.comment-container {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  #width: 100%;
  max-width: 70%;
  min-width: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(10, 23, 33, 0.1);
  padding: 20px;
  margin-top: 20px;
}