/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Exo|Pacifico);

body p {
  font-family: 'Exo', sans-serif;
}

body a {
  font-family: 'Exo', sans-serif;

}


h1, h2, h3 {
  font-family: 'Shadows Into Light', cursive;
}

.button-comment {
  border: 1px solid black;
  background: rgba(0, 10, 10, 0.90);
  padding: 1px 6px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  vertical-align: text-top;
  margin: -25px -5px;
  font-weight: bold;
}

.page-container {
  display: block;
  background-color: #999999;
  padding: 1em;
  margin: 1em;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.button-comment:hover {
  background-color: white;
  color: #000000;
}

textarea#comment {
  max-width: 650px;
  width: 100%;
  rows: 4;
  margin-left: auto;
  margin-right: auto;
}

.comment-container {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  #width: 100%;
  max-width: 70%;
  min-width: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(10, 23, 33, 0.1);
  padding: 20px;
  margin-top: 0px;
  min-height: 100% !important;
  > h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    margin-bottom: 1em;
  }
}

.story a {
  text-decoration: none !important;
}


.navbar.navbar-inverse.navbar-fixed-top {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

form#new_story.new_story {
  text-align: center;
}

textarea#story_story {
  width: 80%;
  height: 250px;
  rows: 10;
}

input#story_title {
  width: 80%;
}

form#new_user.new_user {
  text-align: center;
}

.comment{
  margin-bottom: 4px;
}


.story-comment-container {
  display: block;
  background-color: #d3d3d3;
  padding: 1em;
  margin: 1em 1em 2em 1em;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}