// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story {
  display: block;
  background-color: #999999;
  padding: 1em;
  margin: 1em;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
